.test {
    color:#665edd;
}

.blink3 {
    animation: blink-animation 1s steps(7, start) infinite;
    -webkit-animation: blink-animation 7s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
        background-image: "./Logo1.png";
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      background-image: "./Logo1.png";
    }
  }

  .navbar {
    position: fixed;
    width: 100vw;
    font-size: 8px;
  }

  .navBarTransparent .navbar{
    background-color: rgba(0, 129, 168, 0);
  }
  .navBarSolid .navbar{
    background-color: rgba(66, 4, 63, 0.897);
  }
