body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6BB3F2;
}

code {
  font-family: 'Oswald', sans-serif;
  color: #ffffff
}
