.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    background-image: url("fondodark.jpg");
    z-index: -10;
}

.background-banner{
    height: 100vh;
    padding-top: 10vh; 
    background-image: url("fondodark.jpg");
    overflow-y: hidden;
}

.option{
    width:150px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    height:140px;
    background-color: white;
}

.div-top-results{
    float: right;
    margin-right:0%;
    height: 80vh;
    width: 90vw;
    background-color: rgba(226, 226, 226, 0.0);
  overflow-y: auto;
  padding:5px 20px;
}


.div-titles{
    float: left;
    margin-left: 3vw;
    padding-top: 50px;
    height: 80vh;
    width: 50px;
    background-color: rgba(226, 226, 226, 0.0);
}

.vertical-title{
	transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.text-underline{
    text-decoration: underline;
}

.artist-card{
    margin: 20px;
    float:left;
    width:200px;
    height: 220px;
}

.artists-table{
    float: right;
}


.artist-title{
  text-align: center;
}
