.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    color: #ffffff;
  }

  .Logo {
      src:'./Logo1.png';
  }

  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 3s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;
  }
  .blink2 {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 5s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;
  }
  .blink3 {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 7s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }