  .center{
      text-align: center;
      display: block;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 100%;
      color: #ffffff;
    }

  .centerCard{
      align-items: center;
      background-color: transparent;
      border: 0;
      color: #ffffff;
      justify-content: center;
      margin: auto;
      text-align: center;
      width: 50%;
  }

  .errorMessage {
    margin: auto;
    width: 300px;
  }
  .welcomeText {
    color: white;
    font-size: xx-large;
  }

  .titleText {
    color: ivory;
  }
  #buttn {
    background-color: #091D3B;
  }
  .Logo {
      src:'./Logo1.png';
  }

  .blink {
    animation: blink-animation 1s steps(6, start) infinite;
    -webkit-animation: blink-animation 3s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;
  }
  .blink2 {
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 5s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;
  }
  .blink3 {
    animation: blink-animation 1s steps(7, start) infinite;
    -webkit-animation: blink-animation 7s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .btn.dropdown-toggle  {
    width:150px;
    text-align:left;
  }
  
  span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
  }
  
  label {
    padding-top:5px;
  }
  
  .form-label {
    padding-left:0px !important;
  }
  
  img {
    width:140px;
    height:140px;
  }
 
  img.track {
    border: 1px solid #8a8a8a;
  }

  .signup-form{
    margin-top: 20px;
  }

  .login-form{
    margin-top: 20px;
  }

  .form-control{
    width: 300px;
  }

  .submit-btn {
    margin-top: 20px;
    width: 330px;
  }

  .ReactModal__Content{
    margin:auto;
    background: rgb(39 8 69);
  }

  .closebtn{
    float:right;
  }

  .btn{
    background-color: transparent;
    border-radius: 1em;
    border: 0.1em solid #1ecd97;
    color: #1ecd97;
    cursor: pointer;
    font-size: 2vmin;
    padding: 0.em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
  }
  
  .btn:hover {
    background-color: #4daf64!important;
    color: rgb(54, 3, 65);
    border: 0.1em solid #1ecd97;
  }

  .btn-success {
    background-color: #3b7d4a!important;
  }
  
  .btn-success:hover {
    background-color: #4daf64!important;
  }